@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /* colors */
  --main-color: #4c00b0;
  --main-color-darker: #44009e;
  --secondary-color: #5d19b7;
  --secondary-color-darker: #5316a4;
  --nav-color: #f5f5f5;
  --light-black-color: #101010;
  --lighter-black-color: #151515;
  --white: #ffffff;

  /* Typography */
  --fs-1: 1.563rem;
  --fs-2: 1.375rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.813rem;
  --fs-9: 0.75rem;
  --fs-10: 0.688rem;
  --fs-11: 0.625rem;

  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-800: 800;
  --weight-900: 900;

  /* Border-radius */
  --border-radius-md: 10px;
  --border-radius-sm: 5px;

  /* Transition  */
  --transition-timing: 0.2s ease;
}
/* ========================================================================================== */

*,
*::before,
::after {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  padding: 0px;
}

li {
  list-style: none;
}

ul {
  list-style: none;
  align-items: center;
  padding: 0;
}

button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
  padding: 0;
}

img,
i,
button,
a {
  display: block;
}

span {
  display: inline-block;
}

html {
  font-family: "Roboto", sans-serif;
  overscroll-behavior: contain;
}

input {
  display: block;
  width: 100%;
  font: inherit;
}

input::placeholder {
  font: inherit;
}

body {
  background: var(--white);
}

/* ====================== SCROLL STYLES ====================== */

body::-webkit-scrollbar {
  width: 15px;
}

body::webkit-scrollbar-track {
  background: var(--white);
  border-left: 1px solid var(--light-black-color);
}

body::webkit-srollbar-thumb {
  background: hsl(0, 0, 80%);
  border: 3px solid var(--white);
  border-radius: 10px;
}

body::webkit-scrollbar-thumb:hover {
  background: hsl(0, 0, 70%);
}
/* ====================== REUSED STYLES ====================== */

.container {
  padding: 0 15px;
}

.has-scrollbar {
  padding-bottom: 5px;
}

.has-scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border: 3px solid var(--white);
  border-radius: 20px;
}

.has-scrollbar:hover::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 90%);
}

.has-scrollbar::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 80%);
}

/* ====================== OVERLAY  ====================== */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: hsla(0, 0%, 0%, 0.5);
    opacity: 0;
    pointer-events: none;
    z-index: 15;
    transition: 0.5s ease;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* ====================== MODAL  ====================== */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: hsla(0, 0%, 0%, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 10;
    animation: popup 1s ease-in-out 5s forwards;
}


@keyframes popup {

    0% {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    100% {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
}

.modal.closed {display: none;}

.modal.close-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.newsletter-img { display: none;}

.modal-content {
    position: relative;
    max-width: 350px;
    margin: 20px;
    background: var(--white);
    border-radius: var(--border-radius-md);
    overflow: hidden;
    z-index: 2;
    animation: scaleUp 0.5s ease-in-out 5s forwards;
}

@keyframes scaleup {

    0% {transform: scale(0.9s);}
    100% {transform: scale(1s);}
}

.modal-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: var(--main-color);
    color: var(--white);
    font-size: 16px;
    padding: 5px;
    border-radius: var(--border-radius-sm);
}

.modal-close-btn:hover {opacity: 0.9s;}

.newsletter {
    padding: 50px 30px;
    text-align: center;
}

.newsletter-header {margin-bottom: 20px;}

.newsletter-title {
    color: var(--light-black-color);
    font-size: var(--fs-2);
    font-weight: var(--weight-600);
    margin-bottom: 10px;
}

.newsletter-desc {
    color: var(--lighter-black-color);
    font-size: var(--fs-7);
    line-height: 1.6;
}

.email-field {
    font-size: var(--fs-7);
    padding: 8px 16px;
    border-radius: var(--border-radius-sm);
    border: 1px solid var(--nav-color);
    margin-bottom: 16px;
}

.btn-newsletter {
  background: var(--light-black-color);
  color: var(--white);
  font-size: var(--fs-7);
  font-weight: var(--weight-600);
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: var(--border-radius-sm);
  margin: auto;
  transition: var(--transition-timing);
}

.btn-newsletter:hover {
background-color: var(--main-color);
}

.modal-thankyou{display: none;
font-weight: var(--weight-600);}



/* ====================== HEADER  ====================== */
.header-top,
.header-user-actions,
.desktop-navigation-menu {
  display: none;
}

.header-main {
  padding: 20px 0;
  border-bottom: 1px solid var(--nav-color);
}

.header-logo {
  margin-bottom: 20px;
}

.header-logo img {
  margin: auto;
}

/* ====================== SEARCH  ====================== */
.header-search-container {
  position: relative;
}

.header-search-container .search-field {
  font-size: var(--fs-7);
  color: var(--light-black-color);
  padding: 10px 15px;
  padding-right: 50px;
  border: 1px solid var(--nav-color);
  border-radius: var(--border-radius-md);
}

.search-field::-webkit-search-cancel-button {
  display: none;
}

.search-btn {
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  color: var(--light-black-color);
  font-size: 0.875rem;
  padding: 8px 15px;
  transition: color var(--transition-timing);
}

.search-btn:hover {
  color: var(--main-color);
}

/* ====================== MOBILE NAVIGATION STYLES ====================== */
.mobile-bottom-navigation {
  background: var(--white);
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
  z-index: 5;
}

.mobile-bottom-navigation .action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  padding: 1em;
  line-height: 1.4;
  width: 55px;
  height: 55px;
  font-size: 16px;
  border-radius: 100%;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.fa-solid{color: var(--light-black-color);}
/* ====================== MOBILE NAVIGATION HOVER ====================== */
.mobile-bottom-navigation .action-btn:hover {
  background-color: #4c00b0;
  color: var(--nav-color);
}

.mobile-bottom-navigation .action-btn:hover .labelcart {
  background-color: var(--light-black-color);
}

/* ====================== MOBILE NAVIGATION SPAN SIZE ====================== */
.mobile-bottom-navigation .action-btn span:not(:nth-child(2)) {
  font-size: 10px;
  margin-top: 2px;
}

.mobile-bottom-navigation .action-btn i {
  font-size: 18px;
}

/* .active{
    border-radius:100%;
    height: 25px;
    width: 25px;
    color: var(--nav-color);
} */

/* ====================== CART SPAN CIRCLE SIZE ====================== */
.fa-cart-shopping {
  position: relative;
}

.labelcart {
  position: absolute;
  font-size: 8px;
  top: 12px;
  margin-left: 20px;
  margin-bottom: 20px;
  color: white;
  background-color: #5d19b7;
  padding: 1px;
  border-radius: 20px;
  line-height: 1;
  padding: 2px 4px;
  text-align: center;
  z-index: 1;
}

/* ====================== MOBILE NAVIGATION MENU STYLES START ====================== */

.mobile-navigation-menu {
  background: var(--white);
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  max-width: 320px;
  height: 100vh;
  padding: 20px;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
  overflow-y: scroll;
  overscroll-behavior: contain;
  visibility: hidden;
  transition: 1s ease;
  z-index: 20;
}

.mobile-navigation-menu.active {
  bottom: 0;
  visibility: visible;
}

.menu-top {
  padding-bottom: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--nav-color);
}

.menu-top .menu-title {
  color: var(--main-color);
  font-size: var(--fs-4);
  font-weight: var(--weight-900);
}

.menu-close-btn {
  color: var(--light-black-color);
  font-size: 22px;
}

/* .menu-close-btn i {--i-stroke-width: 50px;} */

.mobile-menu-category-list {
  margin-bottom: 30px;
}

.menu-category .accordion-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu-category-list .menu-category {
  border-bottom: 2px solid var(--nav-color);
}

.mobile-menu-category-list .menu-title {
  color: var(--light-black-color);
  font-size: var(--fs-6);
  font-weight: var(--weight-500);
  padding: 12px 0;
}
/* ========================================================================================== */

.accordion-menu > div {
  font-size: 18px;
}

.accordion-menu.active .fa-plus,
.accordion-menu .fa-minus {
  display: none;
}

.accordion-menu .fa-plus,
.accordion-menu.active .fa-minus {
  display: block;
}

.menu-category .submenu-category-list {
  margin-left: 2px;
  /* transition: max-height 0.5s ease-in-out, visibility 0.5s ease-in-out; */

}

.submenu-title {
  padding: 6px 0;
  font-size: var(--fs-6);
  color: var(--lighter-black-color);
  font-weight: var(--weight-300);
}

.submenu-title:hover {
  color: var(--main-color);
}

.submenu-category-list {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: 0.5s ease-in-out;
}

.submenu-category-list.active {
  max-height: 800px;
  visibility: visible;
}
/* ========================================================================================== */

.fa-smaller-sub-menu {font-size: 12px;}



/* ========================================================================================== */

.menu-bottom .menu-category-list {
  margin-bottom: 20px;
}

.menu-bottom .menu-category {
  border-bottom: none;
}

.menu-bottom .menu-title {
  font-size: var(--fs-6);
  font-weight: var(--weight-500);
  color: var(--lighter-black-color);
  padding: 12px 0;
}

.accordion-menu.active .fa-caret-left {
  transform: rotate(-0.25turn);
}

.menu-bottom .submenu-category-list {
  border: 1px solid var(--nav-color);
  border-radius: var(--border-radius-md);
  padding: 0 15px;
  margin-left: 0;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.05);
}

.menu-bottom .submenu-category:not(:last-child) {
  border-bottom: 1px solid var(--nav-color);
}

.menu-social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 30px;
}

.menu-social-container i.social-link {
  background: var(--nav-color);
  color: var(--main-color);
  padding: 10px;
  border-radius: var(--border-radius-md);
  border: 1px solid hsla(100, 100%, 100%, 6);
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}
/* /* ====================== MOBILE NAVIGATION MENU STYLES END ====================== */
 
/* ====================== BANNER ====================== */

.banner {margin: 30px 0;}

.slider-container {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: var(--border-radius-md);
  overflow: auto hidden;
  scroll-snap-type: inline mandatory;
  overscroll-behavior-inline: contain;
}

.slider-item {
  position: relative;
  min-width: 100%;
  max-height: 450px;
  aspect-ratio: 1 / 1;
  border-radius: var(--border-radius-md);
  overflow: hidden;
  scroll-snap-align: start;
}

.slider-item .banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right; /*change this to fit your choosen image*/
}